p{
    color: red;
    text-align: center;
}
body{
    font-style: italic;
    text-align: center;
}
.font1{
    background-color: black;
    color: yellow;
    font-size: large;
}
.font2{
    background-color: darkblue;
    color: white;
    font-size: medium;
}

.class_a{
    color: blue;
}

/* COMMENTS HERE */ 