.shadow{
    font-style: italic;
    font-size: xx-large;
    text-align: center;
    text-shadow: 2px 2px red;
}
.shadow2{
    font-weight: bold;
    color: blue;
    text-align: center;
}
ol{
    font-size: x-large;
    color: blue;
    text-shadow: 2px 2px pink;
    display: inline-block;
    text-align: left;
    
}
ul{
    font-size: x-large;
    color: green;
    text-shadow: 2px 2px cyan;
    display: inline-block;
    text-align: left;
}
.div_style{
    text-align: center;
}